<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->

  <h1><%= dojo.name %></h1>

  <p> This is a notification to let you know that there has been a booking for the event <%= event.name %> that needs to be approved.</p>



<% include ../common-en_US/footer.ejs %>
